.form-margin {
  margin-bottom: 12px;
}
.form-control {
  background-image: none;
}
.invalid-feedback {
  margin-top: 0;
}

.input-title {
  margin-bottom: 0;
  margin-top: 10px;
}
.note {
  color: grey;
  font-size: smaller;
  margin-bottom: 0;
}
.input {
  display: unset;
  min-width: 150px;
  width: 100%;
}
