.header {
  text-align: center;
  background: #33b5e5;
  color: #fff;
  padding: 12px;
}
span {
  display: inline-block;
  color: #33b5e5;
  background-color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
a {
  margin: 0 10px 0 10px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
