.product-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin-bottom: 64px;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 50px;
  grid-template-columns: auto auto;
  /* align-content: space-between; */
}